body {
    background-color: #1e1e1e;
    min-height: 640px;
    min-width: 640px;
    font-family: Helvetica;
    font-size: 24px;
}

h1{
    font-size: 24px;
    text-align: center;
}
.content{
    text-align: center;
    margin: 0 auto;
}
header{
    color: aliceblue;
}
#vertical-1, #vertical-2, #vertical-3, #vertical-4 {
    width: 320px;
    height: 320px;
    display: inline-block;
    margin: 20px;
}

#vertical-1 {
    background-color: beige;
}

#vertical-2 {
    background-color: bisque;
}

#vertical-3 {
    background-color: aliceblue;
}

#vertical-4 {
    background-color: cadetblue;
}

