body {
    background-color: #1e1e1e;
    min-height: 640px;
    min-width: 640px;
    font-family: Helvetica;
    font-size: 24px;
}

h1{
    font-size: 24px;
    text-align: center;
}
.content{
    text-align: center;
    margin: 0 auto;
}
header{
    color: aliceblue;
}
#vertical-1, #vertical-2, #vertical-3, #vertical-4 {
    width: 320px;
    height: 320px;
    display: inline-block;
    margin: 20px;
}

#vertical-1 {
    background-color: beige;
}

#vertical-2 {
    background-color: bisque;
}

#vertical-3 {
    background-color: aliceblue;
}

#vertical-4 {
    background-color: cadetblue;
}

#vertical-1.on-search, #vertical-2.on-search, #vertical-3.on-search, #vertical-4.on-search {
    background-color: #ad1d13;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

#vertical-1.on-login, #vertical-2.on-login, #vertical-3.on-login, #vertical-4.on-login{
    background-color: #a6ad41;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

#vertical-1.on-help, #vertical-2.on-help, #vertical-3.on-help, #vertical-4.on-help{
    background-color: #3fad91;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

#vertical-1.on-payment,#vertical-2.on-payment,#vertical-3.on-payment,#vertical-4.on-payment{
    background-color: #71ad10;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

#vertical-1.on-lotto,#vertical-2.on-lotto,#vertical-3.on-lotto,#vertical-4.on-lotto{
    background-color: #ad337f;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}